html {
    --bg: black;
    --btnSize: min(10vmin, 60px);
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow: hidden;
}

canvas {
    background: var(--bg);
    filter: blur(0px);
    z-index: 1;
}

#menuBtn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    height: var(--btnSize);
    aspect-ratio: 1;
    z-index: 99;

    font-size: var(--btnSize);
    color: #ddddff20;
    background-color: transparent;
    border: 2px solid #ddddff20;
    border-radius: 4px;
    transition:
        color 300ms,
        border-color 300ms;
    &:hover {
        border-color: #ddddff4a;
        color: #ddddff4a;
    }
}

#menu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    width: min(100%, 480px);
    height: auto;
    border: solid #ddf5;
    border-radius: 4px 4px 5px 5px;
    padding: calc(var(--btnSize) + 16px) 16px 16px;
    background-image: linear-gradient(150deg, #dde5, 20%, #ddf2);
    color: white;

    transform: translateX(100%);
    transition: transform 350ms;
}

.header {
    grid-column: 1 / 4;
    margin-bottom: 12px;
    padding: 0 8px 4px;
    border-bottom: 1px solid white;
}

.separator {
    grid-column: 1 / 4;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px 0 12px;
    padding: 4px 8px;
}

.header,
.separator,
label[for="inputPreset"] {
    font-weight: 700;
}

label {
    grid-column: 1 / 2;
    display: inline;
    justify-self: end;
}

select {
    grid-column: 2 / 4;
    width: 50%;
}

input[type="checkbox"] {
    grid-column: 1 / 2;
    display: none;
    appearance: none;
}

input[type="checkbox"] + label, #clearBtn {
    color: white;
    outline: 1.5px solid white;
    border-radius: 3px;
    padding: 2px 6px;
    transition:
        background-color 200ms,
        color 200ms;
}

input[type="checkbox"]:checked + label {
    background-color: white;
    color: black;
}

.perf-label {
    grid-column: 1 / 2;
    text-align: right;
}
#clearBtn {
    text-align: center;
}
#clearBtn:active {
    color: black;
    background-color: white;
}
