:root {
    --link-color: dodgerblue;
}

* {
    font-family: sans-serif;
}

html {
    overflow: hidden;
}

body {
    position: absolute;
    inset: 0;
    margin: 0;
    overflow: hidden;
}

select,
button {
    font-size: 4vmin;
    text-align: center;
    background-color: white;
    border: 1.5px solid lightskyblue;
    border-radius: 14px;
    height: 80%;
    width: 20vmin;
    user-select: none;
}

select:active,
button:active {
    border-color: deepskyblue;
}

#menu {
    position: absolute;
    inset: 92% 0 0 0;
    text-align: center;
    align-content: center;
    font-size: 6vmin;
    user-select: none;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--link-color);
    transition: color 350ms ease;
    &::after {
        content: "";
        background-color: var(--link-color);
        position: absolute;
        width: 0;
        height: 0.5vmin;
        bottom: 0;
        left: 50%;
        transition:
            left 250ms ease,
            width 250ms ease;
    }
    &:hover {
        text-decoration: none;
    }
    &:hover::after {
        left: 1%;
        width: 98%;
    }
    &:visited {
        color: var(--link-color);
    }
    &.selected {
        --link-color: #ff4444;
        &::after {
            left: 1%;
            width: 98%;
        }
    }
}



/*************** Color Generator ****************/

#genContainer {
    position: absolute;
    inset: 0 0 8% 0;
}

#gen-colorContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*
    visibility: hidden; /**/
}

.colorBox {
    color: white;
    font-size: 7vmin;
    -webkit-text-stroke: 0.7vmin;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.25);
    paint-order: stroke fill;
    align-content: end;
    padding-left: 1%;
    transition: background-color 300ms ease-out;
}

#genControls {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3), 20%, transparent);
    text-align: right;
    align-content: center;
    padding-right: 1%;
    height: 5%;
    width: 99%;
}



/**************** Color Picker *****************/

#pickerContainer {
    position: absolute;
    left: 200%;
    top: 0;
    bottom: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    & > div {
        flex-grow: 1;
    }
}

.slider {
    --anim-time: 200ms;
    position: absolute;
    height: 10vmin;
    border: 0.5vmin solid white;
    outline: 0.5vmin solid black;
    border-radius: 1.5vmin;
    &.rail {
        width: 75vw;
    }
    &.handle {
        top: -0.5vmin;
        left: -1vmin;
        width: 2vmin;
        border-width: 0.5vmin;
        outline-width: 0.5vmin;
        /*z-index: 10;*/
        transition:
            top var(--anim-time),
            height var(--anim-time);
        &.dragging {
            top: -1.5vmin;
            height: 12vmin;
        }
    }
}

#colorPreview {
    position: absolute;
    top: 10vh;
    height: 30vmin;
    width: 30vmin;
    border: 0.5vmin solid white;
    outline: 0.5vmin solid black;
    border-radius: 1.5vmin;
}
