/*
* {
    outline: 1px dashed red;
}
*/
body {
    background-color: #fdeca9;
    font-size: 24pt;
}

#controls {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: #fdcd10;
    border-radius: 10px;
}

#sim {
    width: 100%;
    height: 90%;
}

#id0 {
    outline: 2px solid magenta;
}

img {
    position: absolute;
    &.rock {
        height: 20px;
        width: 22px;
    }
    &.paper {
        height: 24px;
        width: 18px;
    }
    &.scissors {
        height: 24px;
        width: 17px;
    }
}

label {
    color: #504000;
    font-size: 12pt;
    font-weight: 500;
    vertical-align: middle;
    transition:
        color 300ms,
        background-color 300ms;
}

.range {
    padding: 10px 0;
    display: flex;
    width: 100%;
}

input[type="range"] {
    width: 50%;
    margin: 0 10px;
}

.range > label {
    text-align: right;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #705900;
    border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
}

#startBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    border: 1.5px solid #504000;
    border-radius: 0.3em;
    text-align: center;
    width: 60px;
    height: 20px;
    background-color: #fdeca9;
    color: #504000;
    transition:
        background-color 250ms,
        color 250ms;
}

#startBtn:hover {
    background-color: #fff7d9;
}

#startBtn:active {
    background-color: #504000;
    color: #fff;
    border-color: black;
}

#speed-select {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    padding: 0;
}

input[type="radio"] + label {
    padding: 0 5px;
    margin: 0;
    font-size: 24pt;
    border-radius: 6px;
    text-align: center;
    color: #504000;
    transition:
        background-color 300ms,
        color 300ms;
}

input[type="radio"]:checked + label {
    background-color: black;
    color: #fdcd10;
}

input[type="checkbox"] {
    margin-left: 10px;
    appearance: none;
    border: 2px solid #504000;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    background-color: #fdeca9;
    vertical-align: middle;
    position: relative;
    transition:
        border-color 200ms,
        background-color 200ms;
}

input[type="checkbox"]:disabled {
    border-color: #b8950a;
    background-color: #fde06b;
}

input[type="checkbox"]:disabled + label {
    color: #b8950a;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    transform: scale(0);
    transform-origin: center;
    background-color: #504000;
    border-radius: 2px;
    transition: transform 200ms;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#step {
    position: absolute;
    z-index: 1000;
    width: 20%;
    height: 5%;
    top: 12%;
    left: 40%;
}

.game-over {
    animation: 1s infinite linear spin;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#debugBtn {
    position: absolute;
    bottom: 1%;
    right: 2%;
    height: 5%;
    width: 15%;
}

#readout {
    position: absolute;
    bottom: 1%;
    left: 2%;
    min-width: 5%;
    min-height: 5%;
    font-size: 10pt;
}